.apionly
.appname
.attic
.build.hqx
.build.sh
.commit
.dev
.export
.goo.*
.info
.norelease
.nowin
.summary.txt
.tag
.todo
.version
Makefile
doc
vendor
airloctag
asn2pf
certinfo
cliqr
codereview
codescore
daylight
dnsinfo
fsdd
gpsinfo
gpstime
hq
lteinfo
mkcert-delux
npad
squidr
tlsinfo
